/* START border-box fix */
html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* END border-box fix */

  body {
    font-family: "Fragment Mono", monospace;
    font-weight: 100;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 218, 255);
  }

  h1, h2, h3, h4, h5, h6 {text-align: center;}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      text-transform: uppercase;
  }

button {
    color: rgb(94, 127, 160);
    font-family: "Fragment Mono", monospace;
    border: none;
    padding: 20px 460px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    display: block;
    margin-top: 20px; /* Adjust as needed */
    margin-left: 16px; /* Adjust as needed */
    font-size: 16px;
}

button:hover {
    color:rgb(93, 97, 93);
    text-decoration: underline;
}


/* Add padding to all of the wrapper child elements */
#wrapper>* {
    padding: 30px;
}

#wrapper, #guests{
    margin: 0px auto;
    /* centers the wrapper */
        
    color: white;
    
    max-width: 1000px;
    /* max-width: 80%; */

    display: flex;
    /* use flex box */

    flex-wrap:  wrap;
    /* wrap flex items inside the wrapper */
}

header {
    background-color: rgb(93, 97, 93);
    flex: 1 0 100%;
    /* grow on, shrink off, span width of wrapper */

    order: 1;
    /* display order regardless of html structure */

}

main {
    background-color:  rgb(133, 94, 58);
    flex: 1 1 500px;
    order: 3;
    text-align: center;
}

#wrapper img {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
     padding: 5px;
     width: 265px;
     height: 265px;
     margin: 20px;
}


nav {
    background-color: rgb(115, 177, 206);
    flex: 1 0 100px;
    /* grow but do not shrink less than basis */
    text-align: center; /* Ensures text is centered */
    order: 2;
}

nav ul {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    list-style: none; /* Removes default list styles */
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover {
    color:rgb(255, 218, 255);
    text-decoration: underline;
}

aside {
    background-color: rgb(65, 40, 9);
    flex: 1 0 200px;
    /* grow but do not shrink less than basis */
    order: 4;
}

footer {
    background-color: rgb(94, 121, 78);
    flex: 1 0 100%;
    /* grow on, shrink off, span width of wrapper */
    order: 5;
}




/* Add padding to all of the wrapper child elements */
#flex-container>* {
    padding: 30px;
}

#flex-container {
    margin: 0px auto;
    /* centers the wrapper */
        
    color: white;
    
    max-width: 1200px;
    /* max-width: 80%; */

    display: flex;
    /* use flex box */

    flex-wrap:  wrap;
    /* wrap flex items inside the wrapper */
}


#flex-container img {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
     padding: 5px;
     width: 1110px;
     height: 300px;
     margin: 12px;
     display: block;
     margin: 0 auto;
}

#flex-container nav ul {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    list-style: none; /* Removes default list styles */
    padding: 0;
    margin: 0;
}

#flex-container nav ul li {
    margin: 0 20px; /* Space between items */
    display: inline;
}



/* Add padding to all of the wrapper child elements */
#review>* {
    padding: 30px;
}

#review {
    margin: 0px auto;
    /* centers the wrapper */
        
    color: white;
    
    max-width: 1000px;
    /* max-width: 80%; */

    display: flex;
    /* use flex box */

    flex-wrap:  wrap;
    /* wrap flex items inside the wrapper */
}


#review main {
    background-color:  rgb(133, 94, 58);
    flex: 1 1 500px;
    order: 3;
    text-align: center;
    padding: 20px 50px 20px 50px;
    line-height: 1.5;
}

#review img {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
     padding: 5px;
     width: 700px;
     height: 400px;
     margin: 12px;
     display: block;
     margin: 0 auto;
}


#review nav {
    background-color: rgb(115, 177, 206);
    flex: 1 0 1000px;
    width: 100%; /* Makes navbar span full width */
    text-align: center; /* Ensures text is centered */
    order: 2;
}


#review nav ul {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    list-style: none; /* Removes default list styles */
    padding: 0;
    margin: 0;
}

#review nav ul li {
    margin: 0 20px; /* Space between items */
    display: inline;
}

#review aside {
    background-color: rgb(65, 40, 9);
    flex: 1 0 200px;
    /* grow but do not shrink less than basis */
    order: 4;
    text-align: center;
    padding: 20px 70px 40px 70px;
    line-height: 1.5; /* Increases vertical space between lines of text */
}
